# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.dep
**/*.dep
*.mexw64
*.mlpkginstall
*.autosave
*.asv

# Executables
*.exe
*.out
*.app

# logs
**/*.xls
**/*.xlsx
**/*.csv
**/*.doc
**/*.docx

# compiled
*.elf
*.eep
*.hex

# directories
.SimulinkProject
Autoalign_system_ert_rtw
slprj
